/* ======================================
   GLOBAL
====================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f7fa;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

section {
  padding: 70px 0;
}
/* ======================================
   BACK BAR
====================================== */

.back-bar {
  background: #ffffff;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

  padding: 18px 0;

  position: sticky;

  top: 0;

  z-index: 1000;
}

.back-bar .container {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.back-btn {
  display: flex;

  align-items: center;

  gap: 10px;

  color: #0b7d3b;

  font-size: 17px;

  font-weight: bold;

  transition: 0.3s;
}

.back-btn:hover {
  color: #085f2d;

  transform: translateX(-5px);
}

.page-logo {
  color: #0b7d3b;

  font-size: 28px;

  font-weight: bold;
}
